__pycache__/
*.pyc
venv/
.idea/
.roomodes
*.db
*.log
*.err
egame.exe
egame.idc
egame.asm
egame.lst
egame_reference.lst
egame_reference_.lst
analysis.md
*.obj
*.BIN
*.map
*_rebuilt.exe
dummy.exe
dummy.idc
idc
